<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Thank you for choosing Contento.</p>

        <p>Verify your email to continue setting up your account <br /></p>

        <p>
            <a href="<%= verifyLink %>">
                <%= verifyLink %>
            </a>
        </p>
    </body>
</html>
