.layout__container {
    position: relative;

    .sidebar-bg {
        position: absolute;
        display: flex;
        background-color: hsla(0, 0%, 0%, 0.3);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
    }

    .close-sidebar {
        padding-left: 10px;
        padding-top: 10px;

        .icon {
            color: #fff;
            font-size: 2em;
            cursor: pointer;
        }
    }

    .sidebar {
        background-color: var(--bg-color);
        width: 25%;
        height: 100%;
        padding: 30px 20px;

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--grey2);

            a {
                text-decoration: underline;
            }
        }

        .sidebar-body {
            padding-top: 15px;

            a {
                display: flex;
                width: 100%;
                padding: 10px 7px;
                margin-bottom: 20px;
                color: var(--text-color);

                &.active {
                    background-color: hsl(0, 0%, 93%);
                }

                div {
                    display: flex;
                    width: 90%;
                }

                .icon {
                }
            }

            .no-sites-sidebar {
                padding: 5% 10px;
            }
        }
    }
}
