.oauth-button-group {
    display: flex;
    justify-content: space-around;
    padding: 2em 0px;

    .btn {
        display: flex;
        padding: 15px 2em;

        .svg-icon {
            margin-right: 7px;
        }
    }
}
