.editor-page {
    padding: 5% 6%;
    display: flex;
    height: 90vh;
    overflow: auto;
    position: relative;

    ::-webkit-scrollbar {
        display: none;
    }

    .main-section {
        flex: 4;

        .page-header {
            margin-bottom: 25px;

            h1 {
                font-size: var(--heading-3);
                font-weight: bold;
                color: #000;
            }
        }

        .blocks-container {
            max-height: 100%;
            overflow: auto;

            .blocks {
                .block {
                    width: 70%;

                    .body {
                        padding: 32px 0px 0px;
                        border: 0.5px solid var(--primary-color);
                        border-top: none;

                        .block-header {
                            display: flex;
                            border-bottom: 0.5px solid var(--primary-color);

                            .form-group {
                                flex: 1;
                                padding: 0px 24px;
                            }
                        }

                        textarea {
                            min-height: 200px;
                            padding: 24px;
                            border: none;

                            &:focus {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .block-picker-section {
        flex: 1;

        .block-picker {
            flex: 1;
            padding: 3.5%;
            padding-right: 6%;
            padding-left: 2%;
            height: 100%;
            overflow: auto;

            h3 {
                font-weight: bold;
                color: #000;
            }

            .block-list {
                margin-top: 25px;

                .btn {
                    width: 85%;

                    &.btn-primary-outline {
                        background: #ffffff;
                        color: var(--text-color);
                        margin-bottom: 20px;
                        border: 1px dashed #000;
                    }

                    &.btn-primary {
                        margin-top: 3em;
                    }
                }
            }
        }
    }

    .block-p0icker {
        flex: 1;
        background: var(--grey1);
        padding: 3.5%;
        padding-right: 6%;
        padding-left: 2%;
        height: 100%;
        overflow: auto;

        h3 {
            text-transform: uppercase;
        }

        .block-list {
            margin-top: 3em;

            .btn {
                width: 80%;
                text-transform: uppercase;

                &.btn-primary-outline {
                    background: #ffffff;
                    color: var(--text-color);
                    margin-bottom: 20px;
                }

                &.btn-primary {
                    margin-top: 5em;
                }
            }
        }
    }
}
