.editor-page {
    padding: 5% 6%;
    display: flex;
    height: 90vh;
    overflow: auto;
    position: relative;

    ::-webkit-scrollbar {
        display: none;
    }

    .main-section {
        flex: 4;

        .page-header {
            margin-bottom: 25px;

            h1 {
                font-family: 'Playfair Display', serif;
                font-size: var(--heading-3);
                font-weight: bold;
                color: #000;
            }
        }

        .blocks-container {
            max-height: 100%;
            overflow: auto;
            margin-top: -20px;

            .blocks {
                .block {
                    width: 80%;

                    .body {
                        padding: 20px 0px;
                        padding-bottom: 0px;
                        border-radius: 0px 0px 10px 10px;
                        border: 1px solid #ccc;
                        border-top: none;

                        .block-header {
                            display: flex;
                            border: none;

                            .form-group {
                                flex: 1;
                                padding: 0px 24px;

                                label {
                                    padding-bottom: 5px;
                                }
                            }
                        }

                        .form-group {
                            flex: 1;
                            padding: 0px;
                            margin: 0px;
                            label {
                                padding-bottom: 5px;
                            }

                            textarea {
                                min-height: 120px;
                                padding: 24px;
                                border: none;
                                background-color: transparent;

                                &:focus {
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .block-picker-section {
        flex: 1;

        .block-picker {
            flex: 1;
            padding: 3.5%;
            padding-right: 6%;
            padding-left: 2%;
            height: 100%;
            overflow: auto;

            h3 {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                color: #000;
            }

            .block-list {
                margin-top: 25px;

                .btn {
                    width: 85%;

                    &.btn-primary-outline {
                        background: #ffffff;
                        color: var(--text-color);
                        margin-bottom: 20px;
                        border: 1px dashed #000;
                    }

                    &.btn-primary {
                        margin-top: 3em;
                    }
                }
            }
        }
    }
}
