.auth__register_container {
    display: flex;
    height: 100vh;
    position: relative;

    .form-section {
        flex: 1;
        background: var(--bg-color);
        padding: 2em 3em;
        height: 100%;
        overflow: auto;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: var(--secondary-color);
            }
        }

        .form-container {
            margin: 4em 0px;
            width: 60%;

            .form-header h1 {
                font-weight: bold;
                color: #000;
                font-size: var(--heading-3);
                padding: 15px 0px;
                text-align: center;
            }

            .divider {
                text-transform: uppercase;
                font-size: var(--small-text);
            }

            .oauth-button-group {
                display: flex;
                justify-content: space-around;
                padding: 2em 0px;

                .btn {
                    display: flex;

                    .svg-icon {
                        margin-right: 7px;
                    }
                }
            }

            .form {
                margin-top: 15px;

                .btn {
                    width: 100%;
                }
            }

            .term-and-conditions {
                margin-top: 2em;
                text-align: center;
                font-size: var(--small-text);
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
