.about-section {
    display: flex;
    flex: 1;
    position: relative;
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .about-information {
        width: 60%;

        h1 {
            font-size: var(--heading-2);
            margin-bottom: 1em;
        }

        p {
            border-left: 1px solid #fff;
            padding-left: 10px;
        }
    }

    .svg-icon {
        position: absolute;
        width: 100%;

        &.icon1 {
            top: -20%;
        }

        &.icon2 {
            left: -6%;
            bottom: -8%;
            width: 55%;
        }
    }
}
