.pages {
    display: flex;
    height: 90vh;
    overflow: auto;
    position: relative;

    .all_pages_section {
        flex: 4;
        padding: 3.5%;
        padding-left: 6%;
        padding-right: 2%;
        max-height: 100%;

        h2 {
            text-transform: uppercase;
            margin-bottom: 1.5em;
            border-bottom: 1px solid #bdc3c7;
            padding-bottom: 10px;
        }

        .no-page {
            p {
                margin-bottom: 15px;
            }

            ul {
                list-style: disc;
                margin-left: 20px;

                li {
                    margin-bottom: 5px;
                }
            }
        }

        .page {
            display: flex;
            justify-content: space-between;
            margin: 20px 0px;
            padding: 15px 25px;
            border-radius: 5px;
            border-bottom: 1px solid #bdc3c7;

            .page-title {
                display: flex;
                text-transform: uppercase;
                font-weight: 500;

                a {
                    color: var(--primary-text-color);
                }
            }

            .page-actions {
                .btn {
                    margin-right: 10px;
                }
            }
        }
    }

    .create_page_section {
        flex: 1;
        background: var(--grey1);
        padding: 3.5%;
        padding-right: 6%;
        padding-left: 2%;
        height: 100%;

        h3 {
            text-transform: uppercase;
        }

        form {
            padding-top: 20px;

            .form-input {
                margin-bottom: 3rem;
            }

            .btn {
                background-color: var(--brand-color);
                text-transform: uppercase;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    padding-left: 7px;
                    margin-inline-end: 0px;
                }
            }
        }
    }
}
