.pages-page {
    padding: 5% 6%;

    .page-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        h1 {
            font-family: 'Playfair Display', serif;
            font-size: var(--heading-3);
            font-weight: bold;
            color: #000;
        }
    }

    .page-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .page-container {
            flex-basis: 25%;
            padding: 15px 30px;
            padding-left: 0px;

            .page {
                background-color: var(--primary-color);
                color: #fff;
                padding: 1.5em 20px;
                border-radius: 10px;

                p {
                    font-weight: bold;
                    font-size: var(--meduim-text);
                    margin-bottom: 40%;
                }

                .page-actions {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .primary-action {
                        background-color: #fff;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        font-size: var(--small-text);
                        padding: 10px 15px;
                        color: #000;
                    }

                    .dropdown-icon {
                        margin-left: auto;
                    }

                    .dropdown-container {
                        width: 90%;
                        right: 0;
                        left: 1.8rem;
                    }
                }
            }
        }
    }
}

#add-page-modal,
#edit-page-modal {
    overflow: auto;
    width: 40%;

    .modal-content {
        p {
            margin-bottom: 20px;
        }

        form {
            width: 100%;

            label {
                font-weight: bold;
            }

            .btn {
                margin-top: 2em;
                width: 100%;
            }
        }
    }
}

#delete-page-modal {
    top: 30%;
    width: 45%;

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        p {
            margin-bottom: 20px;
        }
    }
}
