:root {
    // Colors
    --bg-color: #e7ebf1;
    --brand-color: #5352ed;
    --white-color: #ffffff;
    --color0: #f8fafd;
    --color1: #f1f5fc;
    --color2: #c6d0eb;
    --color3: #6b7dae;
    --color4: #3f4d73;
    --red-color: #d41919;
    --gold-color: #fde510;
    --green-color: #27ae60;
    --blue-color: #2f80ed;
    --dark-purple: #341f97;

    --grey1: #c4c4c4;
    --grey2: #eeeeee;

    // Gradients

    // Box Shadows

    // Button Shadows
    --btn-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    --btn-hover-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);

    // Card Shadows
    --card-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    --card-shadow-hover: 0px 30px 60px rgba(0, 0, 0, 0.2);

    // background reset
    --bg-no-repeat: no-repeat;
    --bg-center-X-Y: center center;
    --bg-cover: cover;
    --bg-contain: contain;

    // Grid Theming
    --g-temp-col-1: repeat(1, 1fr);
    --g-temp-col-2: repeat(2, 1fr);
    --g-temp-col-3: repeat(3, 1fr);
    --g-temp-col-4: repeat(4, 1fr);
    --responsive-grid-1cols: repeat(auto-fit, minmax(19rem, 1fr));
    --responsive-grid-2cols: repeat(auto-fit, minmax(14rem, 1fr));

    // Fonts Styles
    --heading-1: 40px;
    --heading-2: 30px;
    --heading-3: 24px;
    --heading-4: 20px;
    --meduim-text: 18px;
    --body-text: 16px;
    --small-text: 14px;
    --smaller-text: 12px;
}
