.btn {
    border: none;
    padding: 15px 3em;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sm {
    padding: 7px 1.2em;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
    position: relative;

    transition-duration: 0.2;
    -webkit-transition-duration: 0.2s; /* Safari */
    overflow: hidden;

    &:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    &:after {
        content: '';
        background: rgba(0, 0, 0, 0.7);
        display: block;
        position: absolute;
        padding-top: 500%;
        padding-left: 350%;
        margin-left: -5px !important;
        margin-top: -90%;
        opacity: 0;
        transition: all 0.8s;
    }

    &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

    &:focus {
        background: rgba(0, 0, 0, 0.7);
    }
}

.btn-primary-outline {
    background: transparent;
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
}

.btn-delete {
    background: var(--red-color);
    color: #ffffff;
}

.btn-delete-outline {
    background: transparent;
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

.btn-white {
    background: #fff;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
