label {
    font-weight: 500;
    color: var(--color3);
    font-size: 15px;
    padding-bottom: 5px;
}

.form-input {
    border: none;
    width: 100%;
    padding: 15px;
    background: var(--color1);
    outline: none;
    margin-bottom: 2rem;
    font-size: 18px;
    transition: all ease-in-out 0.5s;
    border-radius: 13px;
    color: var(--color3);
    opacity: 1;

    &.flat {
        background: transparent;
        border-radius: 0px;
        border-bottom: 1px solid var(--grey0);
        padding-left: 3px;
        padding-right: 3px;

        &:focus {
            border-bottom-color: var(--brand-color);
        }
    }
}

.form-input:focus {
    opacity: 1;
}
