.form-group {
    margin-bottom: 1rem;

    label {
        display: block;
        font-weight: 500;
        color: var(--color3);
        font-size: 15px;
        padding-bottom: 10px;
    }

    .form-input {
        border: 0.5px solid #000000;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 16px;
        transition: all ease-in-out 0.5s;
        opacity: 1;

        &:focus {
            opacity: 1;
        }

        &.flat {
            background: transparent;
            border: 0px;
            border-radius: 0px;
            border-bottom: 1px solid var(--grey0);
            padding: 5px 3px;

            &:focus {
                border-bottom-color: var(--primary-color);
            }
        }

        & ~ small {
            &.error {
                color: var(--red-color);
            }

            font-size: var(--small-text);
        }

        & ~ small.toggle-info {
            display: none;
        }

        &:focus ~ small.toggle-info {
            display: block;
        }
    }
}

// inline form
.form-group__inline {
    margin-bottom: 1.5rem;

    label {
        font-weight: 500;
        color: var(--color3);
        font-size: var(--body-text);
        padding-bottom: 5px;
    }

    .form-input {
        outline: none;
        border: 0px;
        border-bottom: 0.5px solid #000000;
        width: 70%;
        padding: 8px;
        font-size: var(--body-text);
        transition: all ease-in-out 0.5s;
        color: var(--color3);
        opacity: 1;
        margin-left: 15px;
    }
}
