label {
    font-weight: 500;
    color: var(--color3);
    font-size: 15px;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-input {
    border: 0.5px solid #000000;
    width: 100%;
    padding: 10px;
    outline: none;
    margin: 0.5rem 0rem;
    font-size: 18px;
    transition: all ease-in-out 0.5s;
    color: var(--color3);
    opacity: 1;

    &.flat {
        background: transparent;
        border-radius: 0px;
        border-bottom: 1px solid var(--grey0);
        padding-left: 3px;
        padding-right: 3px;

        &:focus {
            border-bottom-color: var(--brand-color);
        }
    }

    & ~ small {
        color: red;
        font-style: italic;
    }
}

.form-input:focus {
    opacity: 1;
}
