.divider {
    overflow: hidden;
    text-align: center;

    &:before,
    &:after {
        background-color: #000;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    &:before {
        right: 1em;
        margin-left: -50%;
    }
    &:after {
        left: 1em;
        margin-right: -50%;
    }
}
