.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 4;

    .modal-container {
        position: relative;
        top: 10%;
        width: 35%;
        height: auto;
        background: white;
        outline: none;
        display: flex;
        flex-direction: column;
        margin: auto;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em 1.8em;
            background-color: var(--primary-color);
            color: var(--white-color);

            h2 {
                font-family: 'Playfair Display', serif;
                font-size: var(--heading-4);
                text-transform: capitalize;
            }

            .close-icon {
                font-size: 1.4em;
                cursor: pointer;
            }
        }

        .modal-body {
            display: flex;
            flex-grow: 1;
            overflow: auto;

            .modal-content {
                padding: 1.8em;
                width: 100%;
            }
        }
    }
}
