h1 {
    font-size: var(--heading-1);
}

h2 {
    font-size: var(--heading-2);
}

h3 {
    font-size: var(--heading-3);
}

h4 {
    font-size: var(--heading-4);
}

a {
    text-decoration: none;
    color: var(--purple-color);
}

p {
    font-size: var(--body-text);
}
