.dropdown-icon {
    margin-left: 0px;
    font-size: 2em;
    cursor: pointer;
}

.dropdown-container {
    position: absolute;
    right: 3.8rem;
    z-index: 10;
    margin-top: 7em;
    display: none;

    &.isOpen {
        display: block;
    }

    .clip-arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        top: 0;
        right: 25px;
        margin-top: -7px;
        transform: rotate(45deg);
        z-index: -1;
        background-color: var(--primary-color);
    }

    .dropdown {
        background-color: var(--primary-color);
        opacity: 0.8;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        padding: 10px 0px;

        hr {
            border-style: solid;
            border-color: #b3b3b3;
            border-width: 0.3px;
            height: 0.3px;
            margin: 5px 0px;
        }

        a {
            display: block;
            color: #fff;
            font-size: var(--small-text);
            padding: 10px 20px;
        }
    }
}
