.dropdown-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    cursor: pointer;

    .icon {
        font-size: 1.5em;
        margin-inline-end: 0px;
    }
}

.dropdown-container {
    position: absolute;
    right: 3.4rem;
    z-index: 10;
    top: 3em;
    display: none;

    &.isOpen {
        display: block;
    }

    .clip-arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        top: 0;
        right: 15px;
        margin-top: -7px;
        transform: rotate(45deg);
        z-index: -1;
        background-color: var(--primary-color);
    }

    .dropdown {
        background-color: var(--primary-color);
        opacity: 0.8;
        border-radius: 10px;
        backdrop-filter: blur(50px);
        padding: 10px 0px;

        hr {
            border-style: solid;
            border-color: #b3b3b3;
            border-width: 0.3px;
            height: 0.3px;
            margin: 5px 0px;
        }

        a,
        .btn {
            width: 100%;
            text-align: left;
            display: block;
            color: #fff;
            font-size: var(--small-text);
            padding: 10px 20px;
            background-color: transparent;
        }
    }
}
