.dashboard__container {
    // Dashboard Layout
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas:
        'sidebar topbar'
        'sidebar main';
    height: 100vh;
}

.dashboard__sidebar {
    background-color: var(--white-color);
    border-top: 1px solid #000000;
}

.dashboard__sidebar {
    grid-area: sidebar;

    .dashboard--aside {
        height: 100%;
        width: 70px;
        background-color: var(--primary-color);
        color: #ffffff;

        display: flex;
        justify-content: center;
        padding-top: 30px;

        .aside--btn {
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 15px;
            position: relative;

            border: none;
            color: #ffffff;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            outline-color: #0000;
            cursor: pointer;
            transition-duration: 0.2;
            -webkit-transition-duration: 0.2s; /* Safari */
            overflow: hidden;

            &:hover {
                background: rgba(255, 255, 255, 0.18);
            }

            &:after {
                content: '';
                background: rgba(255, 255, 255, 0.22);
                display: block;
                position: absolute;
                padding-top: 500%;
                padding-left: 350%;
                margin-left: -5px !important;
                margin-top: -90%;
                opacity: 0;
                transition: all 0.8s;
            }

            &:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s;
            }

            &:focus {
                background: rgba(255, 255, 255, 0.22);
            }
        }
    }
}

.dashboard__topbar {
    grid-area: topbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    border-top: 1px solid #000000;

    .user--avatar {
        & img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            border: 1.5px solid #000000;
        }
    }

    .profile-link {
        display: flex;
        align-items: center;
        user-select: none;
        width: 250px;
    }

    .notif-content {
        margin-left: auto;
        padding: 0 5% 0 0;
    }

    .topbar--username {
        word-break: keep-all;
        display: inline-block;
        margin: 0 10px;
        font-size: 16px;
    }
}

.dashboard__main {
    grid-area: main;
    margin: 0 auto;
    width: 100%;
    background: var(--bg-color);
}
