.dashboard__container {
    // Dashboard Layout
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        'sidebar topbar'
        'sidebar main';
    height: 100vh;
    border-top: 1px solid #000;
}

.dashboard__sidebar {
    grid-area: sidebar;
    background-color: var(--white-color);
    display: flex;
}

.dashboard__topbar {
    grid-area: topbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 0px 6%;

    .logo-area img {
        width: 50%;
    }

    .notif-content {
        .profile-link {
            display: flex;
            align-items: center;
            user-select: none;

            .user--avatar {
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1.5px solid #000000;
                }
            }

            .topbar--username {
                word-break: keep-all;
                display: inline-block;
                margin: 0 10px;
                font-size: 16px;
            }
        }
    }
}

.dashboard__main {
    grid-area: main;
    margin: 0 auto;
    width: 100%;
    background: var(--bg-color);
}
