// components
@import './components/inputs.scss';
@import './components/button.scss';
@import './components//misc.scss';
@import './components/typography.scss';
@import './components/modal.scss';

// utils
@import './utils/mixins.scss';
@import './utils/theme.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
    list-style: none;
    padding: 0;
}

.icon {
    font-size: 1.5em;
}

::-webkit-scrollbar {
    width: 10px;
    transition: 0.8;
}
/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
