.collapsible-card {
    margin: 25px 0px;

    & > header {
        background-color: var(--primary-color);
        color: var(--white-color);
        display: flex;
        flex-direction: row;
        padding: 20px 25px;
        align-items: center;

        .title-and-toggle {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h3 {
                font-size: var(--heading-5);
            }
        }

        .delete {
            width: 5%;
            padding-top: 4px;
            cursor: pointer;
        }
    }

    .body {
        padding: 32px 24px;

        &.collapsed {
            display: none;
        }
    }
}
