.collapsible-card {
    margin: 25px 0px;

    & > header {
        background-color: transparent;
        color: var(--primary-color);
        padding: 15px 25px;
        border: 1px solid #ccc;
        border-radius: 10px 10px 0px 0px;

        &.collapsed {
            border-radius: 10px;
        }

        display: flex;
        align-items: center;

        .title-and-toggle {
            width: 95%;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            p {
                font-size: var(--heading-5);
            }

            .icon {
                font-size: 1.3em;
            }
        }

        .delete {
            padding-top: 4px;
            cursor: pointer;

            .icon {
                font-size: 1.3em;
            }
        }
    }

    .body {
        padding: 32px 24px;

        &.collapsed {
            display: none;
        }
    }
}
